.hero-section {
    color: #fff;
}

.hero-container {
    padding: 2rem;
    background: linear-gradient(120deg, #090909, #120f23);
}

.hero-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero-title strong{
    font-family: 'Finger Paint', sans-serif;
    color: #9c0ffa;
    font-size: 3rem;
}

.hero-subtitle {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    color: #ccc;
}

.hero-btn {
    
    margin-top: 30px; /* distancia desde el texto */
    padding: 12px 30px;
    background-color: #732bd0;
    border: none;
    transition: all 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.hero-btn:hover {
    transform: translateY(1px);
    background-color: #482188;
}

.hero-img {
    max-width: 100%;
    height: auto;
}
