<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Productos</title>
    <!-- Importar Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link href="../styles/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="../scripts/js/bootstrap.bundle.min.js"></script>
    <!-- Importar estilo propios -->
    <link rel="stylesheet" href="../styles/css/estiloPropio.css">
</head>

<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-sm bg-purple">
        <div class="container-fluid">
            <!-- Logotipo -->
            <a class="navbar-brand text-white" href="#">Logo</a>

            <!-- Links a la izquierda -->
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="administrador.html">Administrador</a>
                </li>
            </ul>

            <!-- Dropdown del usuario a la derecha -->
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Usuario
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li><a class="dropdown-item" href="#">Configuración</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!--COntenido -->
    <main>
        <!--Tarjetas-->
        <div class="container">
            <div class="p-5 text-white text-center"
                style="background-image: url(img/headerok.jpg);background-repeat: no-repeat;">
                <h1 class="display-3">Gestion de Productos</h1>
                <p class="lead"></p>
            </div>


            <div class="row p-3 justify-content-center">
                <!-- Columna 1 -->
                <div class="col-md-4">
                    <div class="card m-1 rounded">
                        <img class="card-img-top" src="../assets/img/productos02.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title text-center">Agregar productos</h4>
                            <p class="card-text p-1">Sección dedicada al área de productos.<br>Aquí podrás agregar
                                productos nuevos así como administrar los productos existentes.
                            </p>
                            <div class="text-center">
                                <a href="nuevoProducto.html" class="btn bg-purple text-white btn-grow">Acceder</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Columna 2 -->
                <div class="col-md-4">
                    <div class="card m-1 rounded">
                        <img class="card-img-top" src="../assets/img/productos04.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title text-center">Ver productos</h4>
                            <p class="card-text p-1">Sección dedicada a los perfiles de usuarios. <br>Aquí podrás crear
                                nuevos usuarios y administrar los ya existentes.</p>
                            <div class="text-center">
                                <a href="mostrarProductos.html" class="btn bg-purple text-white btn-grow">Acceder</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </main>
    <footer class="bg-purple text-white mt-5">
        <div class="container py-4">
            <div class="row">

                <!-- Columna 1 -->
                <div class="col-md-4 mb-3">
                    <h5>Sobre nosotros</h5>
                    <p>
                        Level-Up Gamer es una tienda online dedicada a satisfacer las necesidades de los entusiastas de
                        los
                        videojuegos en Chile.
                    </p>
                    <p>
                        Aqui encontraras los mejores productos al mejor precio.
                    </p>
                </div>

                <!-- Columna 2 -->
                <div class="col-md-4 mb-3">
                    <h5>Enlaces útiles</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white text-decoration-none">Inicio</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Administrador</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Contacto</a></li>
                    </ul>
                </div>

                <!-- Columna 3 -->
                <div class="col-md-4 mb-3">
                    <h5>Contacto</h5>
                    <p>Email: ejemplo@correo.com</p>
                    <p>Tel: +123 456 789</p>
                </div>

            </div>
            <hr class="border-light">
            <div class="text-center">
                <small>&copy; 2025 Level-Up - Todos los derechos reservados</small>
            </div>
        </div>
    </footer>
</body>



</html>